@page "/"
@inject HttpClient _HttpClient;

<form action="#" @onsubmit="NFCPermission">
    Guid to Scan
    <input type="text" name="txt"/>
</form>

<Cart @ref="child" NFC="false" callBack="callback"/>
@code
{
    private List<Cart.Item> Items;

    private Cart child;
    
    public void callback(List<Cart.Item> items)
    {
        Items = items;
        StateHasChanged();
    }

    private void NFCPermission()
    {
        child.UpdateMessage(Guid.Parse("0f8fad5b-d9cb-469f-a165-70867728950e"));
        
        StateHasChanged();
    }
}